h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

#visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
}

.container {
    display: flex;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation .link {
    margin-right: 76px;
}

.menu {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contact {
    display: flex;
    padding-left: 332px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-address {
    display: flex;
    gap: 40px;
}

.section-one {
    padding-top: 188px;
    padding-bottom: 188px;
}

.container-section-one {
    display: flex;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.title-one {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    max-width: 169px;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    border: none;
    border-radius: 4px;
}

.section-two {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container-section-two {
    display: flex;
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
}

.container-section-two .menu {
    gap: 24px;
}

.container-section-two .menu .item {
    width: calc((100% - 72px) / 4)
}

.container-section-two .menu .item .section-title {
    margin-bottom: 8px;
}

.section-three {
    padding-top: 120px;
    padding-bottom: 120px;
}


.container-section-three {
    display: flex;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.container-section-three .title {
    margin-bottom: 72px;
}

.container-section-three .menu {
    display: flex;
    gap: 24px;
}


.container-section-three .menu .item {
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}

.container-section-three .content {
    padding-top: 32px;
    padding-bottom: 32px;
}

.container-section-three .section-title {
    margin-bottom: 8px;
    text-align: center;
}

.container-section-three .menu .text {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}

.section-four {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container-section-four {
    display: flex;
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.container-section-four .title {
    margin-bottom: 72px;
}

.container-section-four .section-title {
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 8px;
}

.container-section-four .menu {
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 48px;
}

.team {
    width: calc((100% - 48px) / 3);
}
    

.container-section-four .border {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.container-section-four .section-title {
    margin-bottom: 8px;
}

.page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-footer {
    display: flex;
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    height: 312px;
}

.link-studio {
    display:inline-block;
    margin-bottom: 16px;
}

.container-footer .text {
    display: flex;
    max-width: 264px;
}

