.page-body {
    background-color:#FFFFFF;
    color:#434455;
    font-family: "Roboto", sans-serif;
}

.page-header .navigation .link {
    color:#4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.page-header .navigation .link .studio {
    color:#2E2F42;
}

.page-header .navigation .nav {
    color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.page-header .navigation .nav:hover {
    color:#404BBF
}

.page-header .navigation #studio:active,
.page-header .navigation #studio:focus {
    text-decoration: underline;
    color:#404BBF;
}

address {
    font-style: normal;
}

.page-header .contact .link {
    color:#434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.page-header .contact .link:hover,
.page-header .contact .link:focus {
    color:#404BBF;
}

.page-main .section-one {
    background-color:#2E2F42;
}

.page-main .section-one .title-one {
    color:#FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
}

.page-main .section-one .button {
    background-color:#4D5AE5;
    color:#FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.page-main .section-one .button:hover,
.page-main .section-one .button:focus {
    background-color:#404BBF;
    color: #FFFFFF;
}

.page-main .section-two .title {
    color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

.page-main .section-two .section-title {
    color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.page-main .section-two .text {
    color:#434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-main .section-three {
    background-color:#F4F4FD;
}

.page-main .section-three .title {
    color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.page-main .section-three .item {
    background-color: #FFFFFF;
}

.page-main .section-three .section-title {
    color:#2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.page-main .section-three .text {
    color:#434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-main .section-four .title {
    color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.page-main .section-four .section-title{
    color:#2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.page-main .section-four .text {
    color:#434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-footer {
    background-color:#2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-footer .link-studio {
    color:#4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    display: inline-block;
}

.page-footer .link-studio .studio {
    color:#F4F4FD;
}

.page-footer .text {
    color:#F4F4FD;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 264px;
}

ul,
ol {
    list-style-type: none;
}

/* ============== FlexBox ============== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

#visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-page-header {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation .link {
    margin-right: 76px;
}

.navigation .menu .nav {
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu {
    display: flex;
    gap: 40px;
}

.contact {
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-address {
    display: flex;
    gap: 40px;
}

.section-one {
    padding-top: 188px;
    padding-bottom: 188px;
}

.container-section-one {
    display: flex;
    flex-direction: column;
}

.container-section-one .title-one {
    margin-left: auto;
    margin-right: auto;
}

.button {
    max-width: 169px;
    min-width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    border: none;
    border-radius: 4px;
}

.section-two {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container-section-two {
    display: flex;
}

.container-section-two .menu {
    gap: 24px;
}

.container-section-two .menu .item {
    width: calc((100% - 72px) / 4)
}

.container-section-two .menu .item .section-title {
    margin-bottom: 8px;
}

.section-three {
    padding-top: 120px;
    padding-bottom: 120px;
}


.container-section-three {
    display: flex;
    flex-direction: column;
}

.container-section-three .title {
    margin-bottom: 72px;
}

.container-section-three .menu {
    gap: 24px;
}


.container-section-three .menu .item {
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}

.container-section-three .content {
    padding-top: 32px;
    padding-bottom: 32px;
}

.container-section-three .section-title {
    margin-bottom: 8px;
    text-align: center;
}

.container-section-three .menu .text {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}

.section-four {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container-section-four {
    display: flex;
    flex-direction: column;
}

.container-section-four .title {
    margin-bottom: 72px;
}

.container-section-four .menu {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.container-section-four .menu .item {
    width: calc((100% - 48px) / 3);
    height: 420px;
}


.container-section-four .border {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.container-section-four .section-title {
    margin-bottom: 8px;
}